// bower:scss
// endbower
//
$font-stack: 'Roboto', 'Helvetica', 'sans-serif';

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 100% $font-stack;
}

.material-icons {
    margin-right: 32px;
}

.mdl-card__title {
    height: 176px;
    color: #FFF;
}

#progress-bar {
    width: 100%;
}

#map-canvas {
    height: 100vh;
    margin: 0px;
    padding: 0px
}
