// bower:scss
// endbower
//
$font-stack: 'Roboto',
'Helvetica',
'sans-serif';
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 100% $font-stack;
}

.material-icons {
    margin-right: 32px;
}

.mdl-navigation__link .material-icons {
    margin-right: 16px;
    vertical-align: bottom;
}

.page-content {
    width: 100%;
    height: inherit;
}

.gm-style-iw {
    width: 350px !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
}

.mdl-card__title {
    height: 176px;
    color: #FFF;
    background: #3E4EB8;
}

.mdl-

#progress-bar {
    width: 100%;
}

#map-container {
    position: relative;
    padding: 0px;
    height: 94vh;
}

#map-canvas {
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

#results-list {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 5;
    overflow: auto;
}

#more {
    display: block;
    width: 100%;
}

#artist-info {
    width: 100%;
}
